{% extends 'frontbase.html.twig' %}

{% block title %} {{ data[0].contact }} {% endblock %}
{% block keywords %} {{ data[0].keywords }} {% endblock %}

{% block sidebar %} {{  include ('home/_sidebar.html.twig') }} {% endblock %}

{% block slider %}
    <aside id="colorlib-hero" class="breadcrumbs">
        <div class="flexslider">
            <ul class="slides">
                <li style="background-image: url(&quot;images/cover-img-1.jpg&quot;); width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" class="flex-active-slide">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text animated fadeInUp">
                                <div class="slider-text-inner text-center">
                                    <h1>İletişim</h1>
                                    <h2 class="bread"><span><a href="{{ path('home') }}">Ana Sayfa</a></span></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ol class="flex-control-nav flex-control-paging"></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev flex-disabled" href="#" tabindex="-1">Previous</a></li><li class="flex-nav-next"><a class="flex-next flex-disabled" href="#" tabindex="-1">Next</a></li></ul></div>
    </aside>
{% endblock %}
{% block content %}
    <div id="colorlib-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h3>İletişim Bilgileri</h3>
                    <div class="row contact-info-wrap">
                        <div class="col-md-3">
                            <p><span><i class="icon-location"></i></span>{{data[0].address|raw}}</p>
                        </div>
                        <div class="col-md-3">
                            <p><span><i class="icon-phone3"></i></span>{{data[0].phone}}</p>
                        </div>
                        <div class="col-md-3">
                            <p><span><i class="icon-paperplane"></i></span>{{data[0].email}}</p>
                        </div>
                        <div class="col-md-3">
                            <p><span><i class="icon-globe"></i></span> {{data[0].contact|raw}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <div class="contact-wrap">
                        <h3>Bize Ulaşın</h3>
                        <form class="form-horizontal" name="" method="post">
                            <div class="row form-group">
                                <div class="col-md-6 padding-bottom">
                                    <label for="fname">Adınız:</label>
                                    <input type="text" name="messages[name]" id="fname" class="form-control">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="email">Email:</label>
                                    <input type="email" id="email" name="messages[email]" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="subject">Konu:</label>
                                    <input type="text" id="subject" class="form-control" name="messages[subject]">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="message">Mesajınız:</label>
                                    <textarea id="message" name="messages[message]" cols="30" rows="10" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <input type="hidden" name="token" value="{{ csrf_token('form-message') }}">
                                <input type="submit" value="Gönder" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
