<form class="form-horizontal" method="post">
<div class="main-content-inner">
            <div class="row">
                <!-- Textual inputs start -->
                <div class="col-8 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Kategori Düzenleme Formu</h4>
                            <div class="form-group">
                                <label for="example-text-input" class="col-form-label">Ana Kategori:</label>
                                <select class="form-group" name="category[parent_id]" id="example-text-input">
                                    {% if category.parentId !=0 %}
                                    <option value="{{ category.parentId }}">{{category.title}}</option>
                                        <option value="0">Ana Kategori</option>
                                    {% else %}
                                    <option value="0">Ana Kategori</option>
                                    {% endif %}
                                    {% for cat in catlist %}
                                        <option value="{{cat.id}}">{{cat.title}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="example-search-input" class="col-form-label">Başlık:</label>
                                <input class="form-control" name="category[title]" type="text" value="{{category.title}}" id="example-search-input" placeholder="Başlık">
                            </div>
                            <div class="form-group">
                                <label for="editor" class="col-form-label">Açıklama:</label>
                                <textarea class="form-control" name="category[description]" id="editor" rows="10" cols="80" type="text">{{category.description}}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="example-url-input" class="col-form-label">Keyword:</label>
                                <input class="form-control" name="category[keywords]" type="text" value="{{category.keywords}}" id="example-url-input" placeholder="Keyword">
                            </div>
                            <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Güncelle</button>
                        </div>
                    </div>
                </div>
            </div>
</div>
</form>
<script>
    CKEDITOR.replace( 'editor' );
</script>
